@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 !important;
}

.grid-template-cols-properties-ld{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid-template-cols {
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

.apexcharts-canvas {
  position: static !important;
}

.apexcharts-legend {
  display: flex;
  overflow: auto;
  padding: 0 10px;
  top: 15% !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
